# Порт API (необов'язковий) 
PORT=3000
# Хост API (необов'язковий)
HOST=127.0.0.1
# URI Бази даних MongoDB
MONGO_URI=mongodb://localhost:27017/helpdesk
# Домен, якому дозволено надсилати запити
CORS_ORIGIN=http://localhost:5173
# Сіль для шифрування (необов'язкова)
BCRYPT_SALT=10
# Термін дії токена доступу
JWT_ACCESS_EXPIRES_IN=15m
# Секретний ключ токена доступу 
JWT_ACCESS_SECRET=HELPDESK-JWT-ACCESS-SECRET
# Термін дії токена оновлення
JWT_REFRESH_EXPIRES_IN=7d
# Секретний ключ токена оновлення
JWT_REFRESH_SECRET=HELPDESK-JWT-REFRESH-SECRET