<h1
  style="margin: 0;text-transform: uppercase;font-weight: bold;font-size: 2.25rem;color: #0ea5e9;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);"
>
Helpdesk Service
</h1>
<p style="margin-top: 0;color: #757575">Web Application of technical support</p>